$error_color: #EE1133;

.box_with_border {
  @extend .box_with_padding_margin;
  border: 1px solid gray;
}

.box_with_padding_margin {
  margin-bottom: 10px;
  padding: 10px;
}

.error_box {
  border: 1px solid $error_color;
  padding: 20px;
  margin: 5px;
  color: $error_color;
}

a.resource_tag_button {
  color: white !important;
}
