$error_color: #EE1133;

.box-with-border {
  @extend .box-with-padding-margin;
  border: 1px solid gray;
}

.box-with-padding-margin {
  margin-bottom: 10px;
  padding: 10px;
}

.error-box {
  border: 1px solid $error_color;
  padding: 20px;
  margin: 5px;
  color: $error_color;
}

a.resource-tag-button {
  color: white !important;
}
.tag-font-size{ font-size: 0.8em; }
