<!DOCTYPE html>
<html>
  <head>
    <title>LearningResources</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-left: 5%; padding-right: 5%;">
    <h2>Learn to Code</h2>
    <hr>
    <%= yield %>
  </body>
</html>
